.logging {
    background-color: rgba(255, 0, 0, 0.5);
    padding: 2%;
    position: absolute;
    top: 5%;
    left: 3%;
    border-radius: 50%;

    animation: 1.5s ease infinite alternate recording;
    z-index: 998;
}

@keyframes recording {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}