.timer-wrapper {
    background-color: var(--background-custom-base);
    color: whitesmoke;
    border-radius: var(--glass-border-radius);
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: 1fr auto;
    align-items: center;

    padding: 5%;
}

.timer-wrapper h1 {
    text-align: center;

}

.set-time {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
}

.set-time .time {
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* flex-direction: column; */
    justify-self: center;
    align-self: center;

    /* background-color: black; */
    width: 100%;
    height: 100%;
}

.set-time .time button {
    margin: 0 auto;
    width: 60%;
    border-radius: .5rem;
    border: 0;
    padding: 3%;
    background-color: rgba(0, 0, 0, .02);
    color: whitesmoke;

    transition: all .5s ease;
}

.set-time .time button:hover {
    background-color: rgba(255, 255, 255, .1);
}

.set-time .time p {
    display: flex;
    align-self: center;
    justify-self: center;
    text-align: center;

    font-size: 8vw;
}

.set-time .time p::after {
    content: ":";
    transform: translateX(700%);
}

.set-time .seconds p::after {
    content: "";
    display: none;
}