.set-timer-wrapper {
    background-color: var(--background-custom-base);
    color: whitesmoke;
    border-radius: var(--glass-border-radius);
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: 1fr auto;
    align-items: center;

    padding: 5%;
}

.set-timer-wrapper h1 {
    text-align: center;

}

.set-time {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
}

.time-sep {
    text-align: center;
    font-size: min(8vw, 8vh);
    cursor: unset;
    pointer-events: none;
    user-select: none;
}

.set-time .time {
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* flex-direction: column; */
    justify-self: center;
    align-self: center;

    /* background-color: black; */
    width: 100%;
    height: 100%;
}

.set-time .time button {
    margin: 0 auto;
    width: 60%;
    border-radius: .5rem;
    border: 0;
    padding: min(1vh, 1vw);
    background-color: rgba(0, 0, 0, .02);
    color: whitesmoke;

    transition: all .5s ease;
}

.set-time .time button:hover {
    background-color: rgba(255, 255, 255, .1);
}

.set-time .time p {
    display: flex;
    align-self: center;
    justify-self: center;
    text-align: center;

    /* font-size: 8vw; */
    font-size: min(8vw, 8vh);
    cursor: unset;
    pointer-events: none;
    user-select: none;
}

/* .set-time .time p::after {
    content: ":";
    transform: translateX(450%);
} */

.set-time .seconds p::after {
    content: "";
    display: none;
}

.start {
    margin: 2% 5%;
    padding: min(4vh, 4vw);
    border: 0;
    border-radius: 5px;
    background-color: var(--glass-main-hover-bg);
    color: whitesmoke;
    font-weight: bold;
    font-size: min(8vh, 8vw);

    transition: background-color .5s ease;
}

.start:hover {
    background-color: var(--glass-boder-color);
}