:root {
  --background-custom-base: rgba(39, 41, 49, 0.5);
  --border-unboud-selection: rgba(0, 0, 148, 0.8);

  --glass-main-hover-bg: rgba(255, 255, 255, 0.17);
  --glass-left-hover-bg: linear-gradient(90deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.17) 100%);
  --glass-right-hover-bg: linear-gradient(90deg,rgba(255, 255, 255, 0.17) 0%, rgba(255, 255, 255, 0.01) 100%);

  --glass-boder-color: rgba(255, 255, 255, 0.25);
  --glass-border-radius: 8px;
}

body, .clock-wrapper {
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
}

body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clock-wrapper {
  background-color: transparent;
  height: 100vh;
  width: 100vw;

  color: whitesmoke;
/*   
  background-color: var(--background-custom-base);
  border-radius: 8px;
  border: 0px solid var(--border-unboud-selection);
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1%;

  justify-content: center;
  align-items: center;

  font-size: 15vw;

  transition: border-width ease .5s; */
}

.timeModule {
    background-color: transparent;
  height: 100vh;
  width: 100vw;

  color: whitesmoke;
  
  background-color: var(--background-custom-base);
  border-radius: 8px;
  border: 0px solid var(--border-unboud-selection);
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1%;

  justify-content: center;
  align-items: center;

  font-size: 15vw;

  transition: border-width ease .5s;
}

.time-stamp {
  cursor: unset;
  pointer-events: none;
  user-select: none;
  position: absolute;
  width: 100%;
  text-align: center;
}

.glass {
  position: relative;
  background: rgba(255, 255, 255, 0);
  transition: background 0.5s ease-out;

  height: 100%;
  z-index: 999;
}

.glass::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  
  /* border: 1px solid;  */
  border-radius: var(--glass-border-radius);
  /* border-color: var(--glass-main-hover-border); */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-image-slice: 1;
  border-image-width: 3px;
  
  
  transition: opacity 0.5s ease-out;
  z-index: 999;
}

.glass-mid::before {
  background: var(--glass-main-hover-bg); 
}

.glass-left::before {
  background: var(--glass-left-hover-bg); 
}

.glass-right::before {
  background: var(--glass-right-hover-bg); 
}

.glass-mid:hover::before,
.glass-left:hover::before,
.glass-right:hover::before {
  opacity: 1;
}

.glass-mid:hover +.glass::before,
.glass-left:hover +.glass::before,
.glass-left:has(+.glass:hover)::before,
.glass-mid:has(+.glass:hover)::before {
  opacity: 0.3;
}

.glass-left:hover +.glass +.glass::before,
.glass-left:has(+.glass +.glass:hover)::before {
  opacity: 0.15;
}

.unbound-window {
  border-width: 1.5px;
  /* border-color: aquamarine; */
}